<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barneswebb.android.tyshlerfootdisco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ttslogo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            /-->
        <activity
            android:name=".trainingrec.MyTrainingRecordActivity"
            android:label="@string/action_trainingrecord"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />


    </application>



</manifest>

<!--
 http://stackoverflow.com/a/17784472 : android:hardwareAccelerated="true" - for youtube
 http://stackoverflow.com/a/9467875  : android:launchMode="singleInstance" - for only one app instance
-->
