<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barneswebb.android.tyshlerfootdisco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ttslogo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             TODO activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            /
        -->
        <activity
            android:name=".trainingrec.MyTrainingRecordActivity"
            android:configChanges="orientation"
            android:label="@string/action_trainingrecord"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExcerciseInfoActivity"
            android:label="@string/title_activity_excercise_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barneswebb.android.tyshlerfootdisco.MainActivity" />
        </activity>
        <activity
            android:name=".AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest><!--
 http://stackoverflow.com/a/17784472 : android:hardwareAccelerated="true" - for youtube
 http://stackoverflow.com/a/9467875  : android:launchMode="singleInstance" - for only one app instance
-->
